
canvas {
    border: 1px solid;
    background-image: url('../../public/img/Fondo.png');
}
#content {
    position: relative;
    width: 800px;
    height: 300px;
    align-items: center;
}
#modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.7);
}
#btn_index {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
